body {
  margin: 0;
}

#panier{
  height: 20px;
  width: 20px;
  background-color: rgb(154, 185, 114);
}

#logo{
  height: 20px;
  width: 50px;
  background-color: rgb(225, 141, 62);
}

.card{
  width: 40%;
  border: none;
}

ul {
  list-style: none;
}

#search{
  background-color: #ebebeb
}

.card-title{
  color: white ;
}

.categories{
  padding-bottom: 30px;
}

a, i, li{
  color: black;
}

.card-img-top{
  height: 11rem;
}

.prod{
  border: none;
}